<h1>Listing charity_questions</h1>

<table>
  <tr>
  </tr>

<% @charity_questions.each do |charity_question| %>
  <tr>
    <td><%= link_to 'Show', charity_question %></td>
    <td><%= link_to 'Edit', edit_charity_question_path(charity_question) %></td>
    <td><%= link_to 'Destroy', charity_question, :confirm => 'Are you sure?', :method => :delete %></td>
  </tr>
<% end %>
</table>

<br />

<%= link_to 'New charity_question', new_charity_question_path %>