<h1>New newsletter_subscriber</h1>

<% form_for(@newsletter_subscriber) do |f| %>
  <%= f.error_messages %>

  <p>
    <%= f.submit 'Create' %>
  </p>
<% end %>

<%= link_to 'Back', newsletter_subscribers_path %>