<% @page_title = "doing good" %>

<div id="homepage_beta_left">
    <%= image_tag "http://images.vervoo.com/images/demo/raise_money.png", :id => "raise_money", :alt => "" %><br />
    <%= image_tag "http://images.vervoo.com/images/demo/how_it_works.png", :id => "how_it_works", :alt => "" %><br />
    <%= image_tag "http://images.vervoo.com/images/demo/its_simple.png", :id => "its_simple", :alt => "", :usemap => "#its_simple_map" %>
</div>
<map name="its_simple_map">
    <area shape="rect" title="Get Info" alt="Get Info" href="/get_info/" coords="254,100,323,119" />
</map>
<div id="homepage_beta_right">
    <%= image_tag "http://images.vervoo.com/images/demo/reflection_main_w_bg.png", :id => "reflection_main", :alt => "" %>
</div>
