<% @page_title = "error" %>

<div class="contentpaneopen">
    <div class="contentheading">Error</div>
</div>

<div class="contentpaneopen">
    <div class="list_table">
        <div class="list_table_row">
            <div class="list_table_cell_single">
                <div>
                    <div class="list_label">Error Message: </div>
                    <div class="list_text"><%= flash[:error_message] %></div>
                </div><br />
            </div>
        </div>
    </div>
</div>
