<% @page_title = "get info thanks" %>

<div id="homepage_beta_left">
    <div id="get_info_header">
        <span class="h1_text">Thanks!</span>
    </div>
    <div id="get_info_text">
        <p>Thank you very much!! With your help, vervue will be without a doubt
        the best way for ordinary people to make a positive impact on the
        world by simply doing the things they do online everyday.</p>
    </div>
</div>

<div id="homepage_beta_right">
    <%= image_tag "http://images.vervoo.com/images/demo/reflection_main_w_bg.png", :id => "reflection_main", :alt => "" %>
</div>
