<% @page_title = "forgot password" %>

<script type="text/javascript">
    $(document).ready(function(){
        $("#user_email").focus();
    });
</script>

<table class="contentpaneopen">
    <tr>
        <td class="contentheading" width="100%">Forgot Password</td>
    </tr>
</table>

<table class="contentpaneopen">
    <tr>
        <td valign="top" width="100%">
            <div id="menu_notice">
                <div class="notice"><%= flash[:notice] %></div>
            </div>

            <% form_for :user, @user, :url => { :action => "forgot_password" } do |f| %>
                <fieldset>
                    <%= f.label :email, "E-mail: " %>
                    <%= f.text_field :email, :class => "text_field", :size => 30, :maxlength => 100 %>
                </fieldset>
                <fieldset>
                    <label/>
                    <%= f.submit "Send me a new one" %>
                </fieldset>
            <% end %>

        </td>
    </tr>
</table><br />
