
                        <div class="list_label">&nbsp;</div>
                        <div class="list_text">
                            You are now participating in this challenge!
                        </div>
