<% @page_title = "manage : home" %>

<div class="contentpaneopen">
    <div class="contentheading">Manage Home</div>
</div>

<div class="contentpaneopen">
    <div class="list_table">
        <div class="list_table_row">
            <div class="list_table_cell_single">
                Manage Charities, Sponsors and Challenges here.
            </div>
        </div>
    </div>
</div>
